## -------- SECTION 1 ----------------------------------------
# 
# All the environment variables requires in the
# .env file for local development and in the .env.runtime.j2
# file for production.
# 
# Reverse proxy runtime environment variable
CF_DNS_API_TOKEN=qOO9Q1LCPKMV1H/VBUWyTjtg0ZonvIDGnAo07IfoIyU=

# Frontend Container build time variables
FRONTEND_NODE_VERSION=23.7.0
FRONTEND_PNPM_VERSION=10.3.0

# Backend Container build time variables
BACKEND_PNPM_VERSION=10.3.0
BACKEND_NODE_VERSION=20

# Frontend Container runtime environment variables

# The url contains the port number because it is
# use for inter-service communication inside the
# same network.
API_URL=http://backend:1337/api
# The url does not contain the port number because
# it is used through the reverse proxy.
BACKEND_BASE_URL=https://backend.localhost

# --------
# Backend (Strapi) runtime environment variables
DATABASE_CLIENT=sqlite
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_PORT=
JWT_SECRET=QKvtMvl2vQw3OAdWWzAxAPPFVTb4J00vPuVs8c3y7tY=
APP_KEYS="2s9lJjAOD/uK6mDYJNFCyPytsLgDFRil0zjJ1BaEQWw=,i1B6fdAnCTFIfLKtiJsLo2n9obSOJkG8PH6hIXTzeFc="
ADMIN_JWT_SECRET=/uEVxAdjvyEhBMv2Y+EZO6MSjVMDi7X76uHkQTjnALw=
ENCRYPTION_KEY=Z8qGjEbs1kEhcZXR3Lnh8dLxYQX7luiH4wjTe1xS/Qk=
API_TOKEN_SALT=3I74hOBaCcJG/OH0GJYEPo82GuQWeRirN4akBRS4/ik=
TRANSFER_TOKEN_SALT=dWRB9ahmVXWvB72l2EB8211yVmEd6zUA8q+dFN+Oddg=
# The path is relative to the container working directory
# it should be prepented by "sqlite-prod-data" because it
# is that folder which is mounted.
DATABASE_FILENAME=sqlite-prod-data/data.db
STRAPI_TELEMETRY_DISABLED=true
NODE_ENV=production

# --------
# Docker compose interpolation for container image fetching
# Only used in dev env; it is dynamically generated during
# CI/CD release step
SYSTEM_VERSION=0.1.0

# Used in traefik container labels as interpolation value in docker compose
ADMIN_AUTH_CREDENTIALS=username:$2y$05$EZ4K4l32.1DNaX8kNEMVzOsIxkebnn2FzF6xV4oslJ0YuHAWSazkq
# Used as interpolation in docker compose
PRIMARY_DOMAIN=localhost
# Production website url at build time by the frontend to generate sitemap
SITE_NAME=frontend.localhost
# Dockerhub repository namespace
REPO_NAMESPACE=
# Used as interpolation in docker compose
DNS_EMAIL=example-email@gmail.com
# Used by traefik service
CERTIFICATE_RESOLVER_NAME=custom-resolver-name
# Use:
# - https://acme-v02.api.letsencrypt.org/directory for production and
# - https://acme-staging-v02.api.letsencrypt.org/directory 
# for development environment because a rate limit is applied on
# the production server. 
# Also note that if using the development server address HTTPS
# will not be acquire.
# The production address can be used by making sure the volume
# contaning the ssl certificate is not deleted during 
# the development lifecycle.
CA_SERVER=https://acme-staging-v02.api.letsencrypt.org/directory 

## -------- SECTION 2 ----------------------------------------
# 
# All the environment variables required inside
# the CI/CD Runner machine.
# 
## CI/CD Runner environment variables
# Not needed; using a public image
DOCKER_USERNAME=
# Used during infratructure provisioning and during deployment
SSH_USER=
# Used during infratructure provisioning
SSH_PUBLIC_KEY=
# Used during during deployment
SSH_PRIVATE_KEY=
# Used and during deployment
SSH_HOST=
# Not needed; using a public image
DOCKER_PASSWORD=
# Used in github workflow for authentication in GCP
GCP_WORKLOAD_IDENTITY_PROVIDER=
# not used (Direct Workload Identity Federation used instead)
# GCP_SERVICE_ACCOUNT=
# Used during infrastructure provisioning and during deployment
GCP_PROJECT_ID=
# Used to create GCP bucket to store terraform backend data
# and also used during infrastructure provisioning
BUCKET_NAME=
# Used to create GCP bucket to store terraform backend data
# and also used during infrastructure provisioning
BUCKET_LOCATION=




