#cloud-config

# OS updates
package_update: true
package_upgrade: true
package_reboot_if_required: true

packages:
  - curl
  - openssh-server

# Creates Deployment user
users:
  - name: ${ssh_user}
    groups: [sudo, docker]
    shell: /bin/bash
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    ssh_authorized_keys:
      - ssh-rsa ${ssh_public_key}

runcmd:
  # Enable SSH Server
  - apt-get update && apt-get install -y openssh-server
  - sudo systemctl status ssh
  - sudo systemctl start ssh

  # Install Docker
  - sudo apt-get remove $(dpkg --get-selections docker.io docker-compose docker-compose-v2 docker-doc podman-docker containerd runc | cut -f1)
  - sudo apt-get update
  - sudo install -m 0755 -d /etc/apt/keyrings
  - sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
  - sudo chmod a+r /etc/apt/keyrings/docker.asc
  - |
    sudo tee /etc/apt/sources.list.d/docker.sources <<EOF
    Types: deb
    URIs: https://download.docker.com/linux/ubuntu
    Suites: $(. /etc/os-release && echo "$${UBUNTU_CODENAME:-$VERSION_CODENAME}")
    Components: stable
    Signed-By: /etc/apt/keyrings/docker.asc
    EOF
  - sudo apt-get update
  - sudo apt-get install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
  - sudo systemctl start docker
  - sudo systemctl status docker

# Defines a systemd service for reliability

final_message: "Virtual Machine successfully provisioned."